@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --primary: #e54065;
  --primary-hover: #cf274b;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter-btn: #e1e4ea;
  --read-bg: #f2f2f2;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--background);
  letter-spacing: 0.01em;
}
